{# templates/navigation/menu--main.html.twig #}
{% import _self as menus %}

{#
  We call the macro and pass the Bootstrap classes we need.
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}

    {% for item in items %}
      {%
        set classes = [
          'nav-item',
          item.is_expanded ? 'dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.below %}
          {# Dropdown Toggle #}
          <a href="{{ item.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ item.title }}</a>
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {# Standard Link #}
          {{ link(item.title, item.url, item.attributes.addClass('nav-link')) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}