{# components/hcard #}

{% set image = udata.pic|replace({'public://': '/sites/default/files/' }) %}

<article{{ attributes.addClass('h-card') }}>
	<span class="p-name">{{ udata.full }}</span>
	<span class="p-nickname">{{ udata.name }}</span>
	<a class="u-email" rel="me" href="mailto:{{udata.mail}}">Email</a>
	<img class="u-photo" src="{{image}}" alt="User picture" />	
	<p class="p-note">{{ udata.about|striptags}}</p>
	<ul>
   {% for link in udata.links %}
   	<li><a href="{{link.uri}}">{{link.title}}</a></li>
   {% endfor %}
   </ul>
      
</article>

{# 
 /*
0 array:6 [▼
  "name" => "lieb"
  "mail" => "lieb77@gmail.com"
  "full" => "Paul Lieberman"
  "about" => "<p>Ride bikes - Play music - Grow gardens - Build websites</p>"
  "pic" => "public://pictures/head6.png"
  "links" => array:3 [▼
    0 => array:4 [▼
      "uri" => "https://bsky.app/profile/paullieberman.net"
      "title" => "Bluesky"
      "options" => []
      "_attributes" => []
    ]
    1 => array:4 [▼
      "uri" => "https://www.facebook.com/lieb77"
      "title" => "Facebook"
      "options" => []
      "_attributes" => []
    ]
    2 => array:4 [▼
      "uri" => "https://www.drupal.org/u/lieb"
      "title" => "Dupal.org"
      "options" => []
      "_attributes" => []
    ]
  ]
]
  */
#}