{# components/blog/blog.twig   #}

{% set authorUrl = url('<front>') %}
{% set longDate = node.created.value|date('l, F j, Y - H:i') %}

<article class="blog h-entry">
	<header>
		<h2 class="p-name  visually-hidden">
			<a class="u-url" href="{{ blog.url }}" rel="bookmark">{{ blog.title }}</a>
		</h2>

		<div class="blog-meta">
			{% include 'maple:submitted-meta' with {
			  author_name: node.getOwner.getDisplayName,
			  author_url: authorUrl,
			  iso_datetime: iso_datetime,
			  long_date: longDate
			} only %}			
		</div>
		
	</header>
	
	{% if blog.text %}
		<div class="p-summary visually-hidden">
			{{ blog.text }}
		</div>
	{% endif %}

	<div class="blog-body e-content">
		{{ content.body }}
	
		<div class="blog-tags">
			<span>Tags: </span>
			{% for key, tag in blog.tags %}
				<span>
					<a class="p-category" href="{{ blog_url }}?field_tags_target_id={{ tag }}">
						{{'#' ~ content.field_tags[key]['#title'] }}
					</a>
				</span>
			{% endfor %}

			<div class="permalink">
				<button
					class="permalink__button u-url"
					data-url="{{ url }}"
					aria-label="Copy permalink to clipboard"
				>
					<span class="permalink__icon"><i class="fa fa-link" aria-hidden="true"></i></span>
					<span class="permalink__label">Permalink</span>
		
					{# This is our 'Toast' element #}
					<div class="permalink__toast">
						Copied to clipboard! 🚀
					</div>
				</button>
			</div>
		</div>
	</div>

	<a class="u-bridgy-fed visually-hidden" href="https://fed.brid.gy/" ></a>
</article>

