

{% set author_url = url('<front>') %}
{% set longDate = node.created.value|date('l, F j, Y - H:i') %}		

<article class="h-entry bike-ride">
    <h2 class="p-name dist-only">Lieb's Ride Log</h2>
    <h3 class="p-name"><a href={{ url }}>{{ ride.title }}</a></h3>
    
		<div class="node__meta visually-hidden">
			{% include 'maple:submitted-meta' with {
			  author_name: node.getOwner.getDisplayName,
			  author_url: url('<front>'),
			  iso_datetime: iso_datetime,
			  long_date: node.created.value|date('l, F j, Y - H:i')
			} only %}			
		</div>


    <div class="ride-body">
        <div class="ride-stats">
			<p>
				<span class="ride-label">Date:</span> 
				<time class="dt-published" datetime="{{ ride.date|date('c') }}">
					{{ ride.date|date("F d, Y") }}
				</time>
			</p>
			<p>
				<span class="ride-label">Miles:</span> 
				<data class="p-distance" value="{{ ride.miles }}">
					{{ ride.miles }}
				</data>
			</p>
			<p>
				<span class="ride-label">Bike:</span> 
				<span class="p-equipment h-item">
					<a class="u-url" href="https://paullieberman.org{{ ride.bike.path}}">
						{{ ride.bike.name }}
					</a>
				</span>
			</p>
			{% if ride.buddies %}				
				<p>
					<span class="ride-label">Buddies:</span> 
					{{ ride.buddies }}						
				</p>
			{% endif %}		
			<div class="e-content ride-text">{{ content.body }}</div>
		</div>
		
		<div class="u-photo ride-photos">{{ content.field_photos }}</div>
    </div>
   <a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden="from-humans"></a>
</article>


