{# components/bike-ride/bike-ride.twig #}

{% set authorUrl = url('<front>') %}
{% set longDate = node.created.value|date('l, F j, Y - H:i') %}		
{% set baseUrl = url('<front>')|render  %}

<article class="h-entry bike-ride">
    <h2 class="visually-hidden">Lieb's Ride Log</h2>
    <h3><a class="u-url" href={{ url }}>{{ ride.title }}</a></h3>
    
	<div class="node__meta visually-hidden">
		{% include 'maple:submitted-meta' with {
		  author_name: node.getOwner.getDisplayName,
		  author_url: authorUrl,
		  iso_datetime: iso_datetime,
		  long_date: longDate
		} only %}			
	</div>

    <div class="ride-body e-content">
        <div class="ride-stats">
			<p>
				<span class="ride-label">Date:</span> 
				<time class="dt-published" datetime="{{ ride.date|date('c') }}">
					{{ ride.date|date("F d, Y") }}
				</time>
			</p>
			<p>
				<span class="ride-label">Miles:</span> 
				<data class="p-distance" value="{{ ride.miles }}">
					{{ ride.miles }}
				</data>
			</p>
			<p>
				<span class="ride-label">Bike:</span> 
				<span class="p-equipment h-item">
					<a class="u-url" href="{{ baseUrl ~ ride.bike.path}}">
						{{ ride.bike.name }}
					</a>
				</span>
			</p>
			{% if ride.buddies %}				
				<p>
					<span class="ride-label">Buddies:</span> 
					{{ ride.buddies }}						
				</p>
			{% endif %}		
			<div class="ride-text">{{ content.body }}</div>
		</div>
		
		<div class="u-photo ride-photos">{{ content.field_photos }}</div>
		{# Hard coding tags for now #}
		<p class="visually-hidden">Tags: #BikeTooter, #Cycling, #Bicycle</p>
    </div>
   <a class="u-bridgy-fed visually-hidden" href="https://fed.brid.gy/" ></a>
</article>


